@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Aleo';
    src: url('/fonts/custom-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Aleo', sans-serif;
  }